

/* General Styles */
.root {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-background-color: #121212; /* Dark mode background */
}

/* Header Styles */
.header {
    -fx-background-color: linear-gradient(to left,#00307c, #28494d, #002f7a, #274649);
    -fx-padding: 10px 20px;
    -fx-margin: 30px 0 10px;
    -fx-transition: all 0.3s ease-in-out;
    -fx-alignment: center-left;
}

.logo {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI", "Times New Roman";
    -fx-text-fill: linear-gradient(to bottom, #adb4c4, #465a69);
    -fx-padding: 0 20px 0 0;
}

.search-bar {
    -fx-font-size: 14px;
    -fx-min-width: 250px;
    -fx-min-height: 30px;
    -fx-text-fill: #E0E0E0; /* Light text color */
    -fx-padding: 8px 15;
    -fx-border-color: #00adb5; /* Accent color */
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: #333; /* Dark background */
    -fx-cursor: cursor;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
    -fx-transition: 0.3s;
}

/* Profile Icon */
.profile-icon {
    -fx-font-size: 20px;
    -fx-text-fill: #E0E0E0; /* Light text color */
    -fx-cursor: hand;
}

/* Navigation Panel */
.nav-panel {
    -fx-background-color: #1F1F1F; /* Darker background */
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 2);
    -fx-alignment: center-left;
}

.nav-item {
    -fx-font-size: 14px;
    -fx-text-fill: #E0E0E0; /* Light text color */
    -fx-padding: 8 15;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: #333; /* Dark background */
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
    -fx-transition: 0.3s;
}

.nav-item:hover {
    -fx-background-color: #444; /* Slightly lighter on hover */
    -fx-text-fill: #00adb5; /* Accent color */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0.5, 0, 2);
}

.nav-item:pressed {
    -fx-background-color: #555; /* Darker on press */
}

/* Feed Container */
.feed {
    -fx-padding: 10;
    -fx-background-color:  #121212; /* Dark mode background */
}

/* Post Styles */
.post {
    -fx-padding: 20;
    -fx-background-color: #1F1F1F; /* Darker background */
    -fx-border-color: #333; /* Dark border */
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 2);
    -fx-font-size: 16px;
}

.post:hover {
    -fx-scale-x: 1.015;
    -fx-scale-y: 1.015;
    -fx-border-width: 1;
    -fx-border-color: #036c70; /* Accent color */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 20, 0, 0, 5);
}

.post:pressed {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-border-color: #00adb5; /* Accent color */
}

/* favorite Panel */
.favorite {
    -fx-background-color: #1F1F1F; /* Darker background */
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: baseline-center;
}

.favorite-scroll-pane {
    -fx-background-color: #1F1F1F; /* Darker background */
}

.favorite-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #00666c; /* Accent color */
}

/* Trend Item */
.favorite-user {
    -fx-background-color: #333; /* Dark background */
    -fx-border-color: #017175; /* Accent color */
    -fx-text-fill: #E0E0E0; /* Light text color */
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0.5, 0, 2);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease-in-out;
    -fx-min-width: 200px;
    -fx-min-height: 33px;
    -fx-alignment: center;
}

.favorite-user:hover {
    -fx-underline: true;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.scroll-pane {
    -fx-padding: 10px;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
}

/* Post Details Styling */
.post-details {
    -fx-background-color: transparent;
    -fx-alignment: top-center;
    -fx-padding: 20;
}

.post-card {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-background-color: #1F1F1F; /* Darker background */
    -fx-border-color: #333; /* Dark border */
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 4);
    -fx-min-width: 1000px;
    -fx-max-width: 1000px;
    -fx-min-height: 400px;
}

/* User Information */
.post-user-info {
    -fx-alignment: center-left;
    -fx-spacing: 10;
}

.post-full-name {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #00adb5; /* Accent color */
    -fx-font-color: #E0E0E0; /* Light text color */
}

/* User Icon */
.post-user-icon {
    -fx-font-size: 36px;
    -fx-text-fill: #00adb5; /* Accent color */
}

/* Post Author */
.post-username {
    -fx-font-size: 17px;
    -fx-text-fill: #E0E0E0; /* Light text color */
}

.post-username:hover {
    -fx-text-fill: #00adb5; /* Accent color */
    -fx-scale-x: 1.01;
}

.post-timestamp {
    -fx-font-size: 12px;
    -fx-font-style: italic;
    -fx-text-fill: #E0E0E0; /* Light text color */
    -fx-padding: 5 5;
}

/* Post Content */
.post-content {
    -fx-font-size: 17px;
    -fx-padding: 1px 1px;
    -fx-text-fill: #E0E0E0; /* Light text color */
    -fx-line-spacing: 1.2;
    -fx-background-color: transparent;
}

/* Close Button */
.post-details-close-button {
    -fx-font-size: 14px;
    -fx-text-fill: #00adb5; /* Accent color */
    -fx-padding: 8 15;
    -fx-border-color: #006a6e; /* Accent color */
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: #333; /* Dark background */
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
    -fx-transition: 0.3s;
}

.post-details-close-button:hover {
    -fx-background-color: #444; /* Slightly lighter on hover */
    -fx-border-color: #00adb5; /* Accent color */
}

/* Action Buttons */
.post-action-button {
    -fx-font-size: 14px;
    -fx-text-fill: #E0E0E0; /* Light text color */
    -fx-padding: 8px 15;
    -fx-border-color: #007f86; /* Accent color */
    -fx-border-width: 1;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-background-color: #333; /* Dark background */
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
    -fx-transition: 0.3s;
}

.post-action-button:hover {
    -fx-background-color: #444; /* Slightly lighter on hover */
    -fx-border-color: #00adb5; /* Accent color */
}

.post-action-button:pressed {
    -fx-background-color: #555; /* Darker on press */
    -fx-border-color: #00adb5; /* Accent color */
}

/* Post Window */
.post-window-details {
    -fx-background-color: #121212; /* Dark mode background */
    -fx-padding: 20;
}

.post-window-card {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-background-color: #1E1E1E; /* Darker background */
    -fx-border-color: #333; /* Darker border */
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 4);
    -fx-max-width: 1200px;
    -fx-min-height: 250px;
}

/* User Information */
.post-window-user-info {
    -fx-alignment: center-left;
    -fx-spacing: 5;
}

.post-window-full-name {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #00adb5; /* Accent color */
    -fx-font-color: #e0e0e0;
}

/* User Icon */
.post-window-user-icon {
    -fx-font-size: 60px;
    -fx-text-fill: linear-gradient(to right, #00adb5, #393e46); /* Accent gradient */
}

/* Post Title */
.post-window-details-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #00adb5; /* Accent color */
}

/* Post Author */
.post-window-user-name {
    -fx-font-size: 20px;
    -fx-text-fill: #e0e0e0;
}

.post-window-user-name:hover {
    -fx-text-fill: #00adb5; /* Accent color */
}

/* Post Content */
.post-window-details-content {
    -fx-font-size: 23px;
    -fx-font-family: Arial, sans-serif;
    -fx-text-fill: #e0e0e0;
    -fx-line-spacing: 1.2;
    -fx-padding: 0 5;
    -fx-background-color: transparent;
    -fx-alignment: top-center;
}

/* Close Button */
.post-window-close-button {
    -fx-font-size: 15px;
    -fx-min-width: 150px;
    -fx-text-fill: #00adb5; /* Accent color */
    -fx-padding: 8px 15px;
    -fx-border-color: #016e73; /* Accent color */
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: #1E1E1E; /* Darker background */
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
    -fx-transition: 0.3s;
}

.post-window-close-button:hover {
    -fx-background-color: #333; /* Slightly lighter on hover */
    -fx-border-color: #00adb5; /* Accent color */
}

/* Styling for the comment area inside the post */
.post-window-comment-area {
    -fx-font-size: 13px;
    -fx-min-width: 200px;
    -fx-min-height: 30px;
    -fx-text-fill: #00adb5; /* Accent color */
    -fx-padding: 8px 15;
    -fx-border-color: #00adb5; /* Accent color */
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #1E1E1E; /* Darker background */
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
}

.post-window-comment-box {
    -fx-padding: 20 0;
}

/* Styling for the post comment button */
.post-window-post-button {
    -fx-background-color: linear-gradient(to left, #00adb5, #393e46); /* Accent gradient */
    -fx-text-fill: white;
    -fx-min-height: 25px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0.5, 0, 2);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease-in-out;
}

.post-window-post-button:hover {
    -fx-background-color: linear-gradient(to right, #00adb5, #393e46); /* Accent gradient */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 6, 0.5, 0, 3);
}

/* Styling for the floating comment section outside the post */
.post-window-comments {
    -fx-position: absolute;
    -fx-top: 350px;
    -fx-left: 50px;
    -fx-min-width: 900px;
    -fx-max-width: 900px;
    -fx-min-height: 200px;
    -fx-pref-width: 90%;
    -fx-max-height: 400px;
    -fx-overflow-y: auto;
    -fx-border-radius: 10px;
}

/* Styling for each floating comment */
.post-window-floating-comment {
    -fx-padding: 10;
    -fx-spacing: 20;
    -fx-font-size: 14px;
    -fx-text-fill: #e0e0e0;
    -fx-background-color: #1E1E1E; /* Darker background */
    -fx-border-color: #333; /* Darker border */
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 4);
    -fx-min-width: 500px;
    -fx-min-height: 50px;
}

/* Hover effect for floating comments */
.post-window-floating-comment:hover {
    -fx-padding: 10;
    -fx-spacing: 20;
    -fx-background-color: #333; /* Slightly lighter on hover */
    -fx-border-color: #00adb5; /* Accent color */
    -fx-border-width: 1;
    -fx-border-radius: 17;
    -fx-background-radius: 17;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 14, 0, 0, 4);
    -fx-min-width: 500px;
    -fx-min-height: 50px;
}

.post-window-floating-comment:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.post-window-reply-section {
    -fx-spacing: 10;
}

.post-window-floating-comment-reply {
    -fx-min-width: 100px;
    -fx-padding: 10;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: #e0e0e0;
    -fx-border-color: #333; /* Darker border */
    -fx-background-color: #1E1E1E; /* Darker background */
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0.3, 0, 1);
    -fx-transition: 0.3s;
}

.post-window-floating-comment-owner-reply {
    -fx-min-width: 100px;
    -fx-padding: 10;
    -fx-border-width: 1;
    -fx-border-color: #383838; /* Darker border */
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: #e0e0e0;
    -fx-background-color: #232d2d; /* Darker background */
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0.3, 0, 1);
    -fx-transition: 0.3s;
}

/* Styling for the reply text field */
.post-window-reply-textfield {
    -fx-min-width: 100px;
    -fx-min-height: 10px;
    -fx-font-size: 12px;
    -fx-text-fill: #e0e0e0;
    -fx-padding: 8px 15;
    -fx-border-color: #333; /* Darker border */
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #1E1E1E; /* Darker background */
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0.3, 0, 1);
    -fx-transition: 0.3s;
}

.post-window-reply-textfield:focused {
    -fx-border-color: #00adb5; /* Accent color */
    -fx-border-width: 2px;
}

/* Styling for the reply button */
.post-window-post-reply-button {
    -fx-background-color: linear-gradient(to right, #00adb5, #393e46); /* Accent gradient */
    -fx-text-fill: white;
    -fx-min-height: 20px;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0.5, 0, 2);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease-in-out;
}

.post-window-post-reply-button:pressed {
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
}

.post-window-background {
    -fx-background-color: #121212; /* Dark mode background */
    -fx-padding: 10 1;
}

/* *** CreatePostGUI *** */

.create-post-gui {
    -fx-max-height: 100px;
    -fx-padding: 20;
    -fx-text-fill: #e0e0e0;
    -fx-border-color: #333; /* Darker border */
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: #1E1E1E; /* Darker background */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0.3, 0, 1);
}

.create-post-gui .text-field {
    -fx-font-size: 17px;
    -fx-padding: 10;
    -fx-border-color: #333; /* Darker border */
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #1E1E1E; /* Darker background */
    -fx-text-fill: #e0e0e0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0.3, 0, 1);
}

.create-post-gui .text-field:focused {
    -fx-border-color: #00adb5; /* Accent color */
    -fx-border-width: 2px;
}

.create-post-gui .button {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-padding: 8px 15;
    -fx-border-color: #333; /* Darker border */
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(to right, #00adb5, #393e46); /* Accent gradient */
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0.3, 0, 1);
    -fx-transition: 0.3s;
}

.create-post-gui .button:hover {
    -fx-background-color: linear-gradient(to right, #393e46, #00adb5); /* Accent gradient */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 6, 0.5, 0, 3);
}

.create-post-gui .button:pressed {
    -fx-background-color: linear-gradient(to right, #222831, #393e46);
}

/* ComboBox Container */
.combo-box {
    -fx-font-size: 14px;
    -fx-max-height: 30px;
    -fx-background-color: #1E1E1E; /* Darker background */
    -fx-border-color: #333; /* Darker border */
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0.3, 0, 1);
    -fx-padding: 8px 15px;
    -fx-text-fill: #e0e0e0;
    -fx-transition: 0.3s;
}

.combo-box:hover {
    -fx-background-color: #333; /* Slightly lighter on hover */
    -fx-border-color: #00adb5; /* Accent color */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0.5, 0, 2);
}

/* Dropdown Popup */
.combo-box-popup .list-view {
    -fx-background-color: #1E1E1E; /* Darker background */
    -fx-border-color: #333; /* Darker border */
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0.3, 0, 1);
    -fx-padding: 5px;
}

.combo-box-popup .list-cell {
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-text-fill: #e0e0e0;
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-transition: 0.3s;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #333; /* Slightly lighter on hover */
    -fx-text-fill: #00adb5; /* Accent color */
}

.combo-box-popup .list-cell:focused {
    -fx-background-color: #444; /* Slightly lighter on focus */
    -fx-text-fill: #00adb5; /* Accent color */
}

/* Placeholder Text */
.combo-box .prompt-text {
    -fx-font-size: 14px;
    -fx-text-fill: #9ca3af;
    -fx-italic: true;
}

/* Selected Item */
.combo-box .arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0.3, 0, 1);
}