

/* Root layout */
.root-layout {
    -fx-background-color:  #121212;
    -fx-spacing: 20px;
    -fx-padding: 20px;
}

/* StackPane style */
.stack-pane {
    -fx-background-color: linear-gradient(to bottom, #222831, #393e46);
}

/* Profile Section */
.profile-section {
    -fx-alignment: top-center;
    -fx-background-color: #1E1E1E;
    -fx-padding: 20px;
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-spacing: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 2);
}

.profile-section .profile-picture {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 8, 0, 0, 3);
}

.name {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to left, #00adb5, #00FFFFFF);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.5, 0, 2);
}

.username {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to left, #00adb5, #00FFFFFF);
}

.bio {
    -fx-font-size: 15px;
    -fx-text-fill: #e0e0e0;
    -fx-line-spacing: 5px;
}

.profile-button {
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-background-color: #393e46;
    -fx-border-color: #00adb5;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-text-fill: #00adb5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 1);
    -fx-transition: 0.3s;
}

.profile-button:hover {
    -fx-background-color: #444;
    -fx-text-fill: #00adb5;
}

.favorite-toggle {
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-background-color: #393e46;
    -fx-border-color: #00adb5;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-text-fill: #00adb5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 1);
    -fx-transition: 0.3s;
}

.favorite-toggle:selected {
    -fx-background-color: #444;
    -fx-text-fill: #00adb5;
}

/* Posts Section */

.posts-section-scrollpane {
    -fx-background-color: #1E1E1E;
    -fx-padding: 20px;
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 2);
}

.posts-container {
    -fx-spacing: 15px;
    -fx-padding: 15px;
    -fx-background-color: #1E1E1E;
}

.post-box {
    -fx-background-color: #333;
    -fx-padding: 15px;
    -fx-border-color: #444;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.05), 5, 0, 0, 2);
}

.post-content {
    -fx-font-size: 14px;
    -fx-text-fill: #e0e0e0;
}

.no-posts-label {
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-text-fill: #9ca3af;
    -fx-alignment: center;
    -fx-padding: 20px;
}

/* Edit Profile Page */
.edit-profile-page {
    -fx-alignment: top-center;
    -fx-background-color:#121212;
    -fx-padding: 20px;
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-spacing: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 2);
    -fx-max-width: 600px;
    -fx-max-height: 700px;
}

.edit-profile-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #00adb5;
}

.edit-profile-picture {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 8, 0, 0, 3);
}

.edit-profile-button {
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-background-color: #393e46;
    -fx-border-color: #00adb5;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-text-fill: #00adb5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 1);
    -fx-transition: 0.3s;
}

.edit-profile-button:hover {
    -fx-background-color: #444;
    -fx-text-fill: #00adb5;
}

.edit-profile-field {
    -fx-max-width: 400px;
    -fx-font-size: 15px;
    -fx-padding: 10px;
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #1E1E1E;
    -fx-text-fill: #e0e0e0;
}